form {
  background-image: url('http://uupload.ir/files/yk0n_walnuts-cartoon-coloring-page-vector-1635712.jpg');background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:90% 90%;
  margin-top: 1px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 1px;
  background-color: white;
 padding-top: 200px;
 padding-right: 100px;
 padding-bottom: 50px;
 padding-left: 200px;
}

body {
  background-image: url('http://uupload.ir/files/2jjm_nuts-background-vector-1994192.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
