table, th, td {
  border: 1px solid black;
  border-spacing: 20px;
}
header {
  background-color: #667;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  color: white;
}

section {
  background-color: #640;
}

div {
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightblue;
}

$('.one-time').slick({
  dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  adaptiveHeight: true
});

